extends layout

block content
  h1= '🚀 ' + title
  p Welcome to #{title} by Alkemy
  
  br
  br

  h3 Accesos 
 
  h4 API
  ul 
    li
      a(href='/characters') Personajes
  br

  h4 Vistas
  ul
    li
      a(href='/disney/characters') Personajes