extends ../layout 

block content 
  a(href='/') Inicio
  br
  a(href='/characters/create') Nuevo
  h1 Listado de Personajes
  table.table(style='text-align: center;' width='500px')
    thead 
      tr
        th(scope='col') Pic
        th(scope='col') Name
    tbody 
      each character in characters 
        tr
          td(scope='row')
            = character.picture
          td= character.name 
          td 
            a(href='characters/update/' + character.id) Editar
          td 
            form.inline(action='characters/delete/' + character.id method='post') 
              input(type='hidden', name='id')
              button.link-button(type='submit' name='submit_param' value='submit_value' class='btn')
                = 'Eliminar'
