extends ../layout 

block content 
  a(href='/characters/create') Nuevo
  h1 Listado de Personajes
  table.table(style='text-align: center;')
    thead 
      tr
        th(scope='col') #
        th(scope='col') Name
        th(scope='col') Age
        th(scope='col') Weight
    tbody 
      each character in characters 
        tr
          td(scope='row')
            = character.id
          td= character.name 
          td= character.age 
          td= character.weight 
